@model TicketAttachment

@{
    ViewData["Title"] = "Edit";


}

<h1>Edit</h1>

<h4>TicketAttachment</h4>
<hr />
<div class = "row" >
    <div class = "col-md-4" >
        <form asp-action = "Edit" >
            <div asp-validation-summary = "ModelOnly"
                 class = "text-danger" >
            </div>
            <input asp-for = "Id"
                   type = "hidden" />
            <div class = "form-group" >
                <label asp-for = "FilePath"
                       class = "control-label" >
                </label>
                <input asp-for = "FilePath"
                       class = "form-control" />
                <span asp-validation-for = "FilePath"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "FileData"
                       class = "control-label" >
                </label>
                <input asp-for = "FileData"
                       class = "form-control" />
                <span asp-validation-for = "FileData"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "Description"
                       class = "control-label" >
                </label>
                <input asp-for = "Description"
                       class = "form-control" />
                <span asp-validation-for = "Description"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "Created"
                       class = "control-label" >
                </label>
                <input asp-for = "Created"
                       class = "form-control" />
                <span asp-validation-for = "Created"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "TicketId"
                       class = "control-label" >
                </label>
                <select asp-for = "TicketId"
                        asp-items = "ViewBag.TicketId"
                        class = "form-control" >
                </select>
                <span asp-validation-for = "TicketId"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <label asp-for = "UserId"
                       class = "control-label" >
                </label>
                <select asp-for = "UserId"
                        asp-items = "ViewBag.UserId"
                        class = "form-control" >
                </select>
                <span asp-validation-for = "UserId"
                      class = "text-danger" >
                </span>
            </div>
            <div class = "form-group" >
                <input class = "btn btn-primary"
                       type = "submit"
                       value = "Save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action = "Index" >Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
