@page
@using ValhallaHeimdall.API.Areas.Identity.Pages.Account
@using Microsoft.AspNetCore.Identity
@using ValhallaHeimdall.BLL.Models
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";


}

<h1>@ViewData["Title"]</h1>
